* {
  all: unset;

  display: revert;

  cursor: revert;

  box-sizing: border-box;
}

/* Header - menu */

header {
  position: sticky;
  background: white;
  top: 0;
  padding: 2rem 3rem;
  border-style: solid;
  border-color: black;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0.4rem;
  gap: 10px;
  overflow: auto;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: rgb(1, 1, 1);
  font-family: "Bodoni Moda", serif;
  font-weight: bold;
}

a:hover {
  color: yellow;
}

/* Overskrifter - paragraphs */

h1 {
  font-family: "Bodoni Moda", serif;
  color: black;
  display: inline;
}

h3 {
  font-family: "Bodoni Moda", serif;
  color: rgb(0, 0, 0);
  font-size: small;
}

p {
  color: black;
  font-family: "Roboto", sans-serif;
  line-height: 2.2;
  font-weight: bold;
}

footer {
  font-family: "Roboto", sans-serif;
  font-size: small;
  text-align: center;
  position: relative;
  margin-top: 2rem;
  background-color: black;
  bottom: 0;
}

footer p {
  color: white;
}

main {
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: black;
}

header .logo {
  text-align: center;
  font-size: xx-large;
}
header .logo a {
  font-family: "Roboto", sans-serif;
  background-color: yellow;
}

ul {
  color: black;
  font-family: "Roboto", sans-serif;
  line-height: 2.2;
  font-weight: bold;
}

.col_web a {
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  background-color: yellow;
}

.col_animation3 a {
  color: black;
  background-color: yellow;
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
}

.col_ux a {
  color: black;
  background-color: yellow;
  font-family: "Roboto", sans-serif;
}

.col_indhold a {
  color: black;
  background-color: yellow;
  font-family: "Roboto", sans-serif;
}

.col_indhold_2 a {
  color: black;
  background-color: yellow;
  font-family: "Roboto", sans-serif;
}

.col_cv a {
  color: black;
  background-color: yellow;
  font-family: "Roboto", sans-serif;
}
