* {
  all: unset;

  display: revert;

  cursor: revert;

  box-sizing: border-box;
}

/* Header - menu */

header {
  position: sticky;
  background: whitesmoke;
  top: 0;
  padding: 2rem 3rem;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0.4rem;
  gap: 10px;
  overflow: auto;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

a:hover {
  color: rgb(150, 150, 152);
}

/* Overskrifter - paragraphs */

h1 {
  font-family: "Bodoni Moda", serif;
  color: rgb(0, 0, 0);
  display: inline;
}

h2 {
  font-family: "Playfair Display", serif;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: large;
}

h3 {
  font-family: "Playfair Display", serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

p {
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  line-height: 2.2;
  font-weight: bold;
}

footer {
  font-family: "Roboto", sans-serif;
  font-size: small;
  text-align: center;
  position: sticky;
  margin-top: 2rem;
  background-color: white;
}

main {
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: rgb(255, 255, 255);
}

header .logo {
  text-align: start;
  font-size: large;
}
header.logo a {
  font-family: "Bodoni Moda", serif;
}

.col_web a {
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  background-color: beige;
}
