img {
  width: 100%;
}
/*Baggrund - Splashbillede */

.splashbillede img {
  background-size: cover;
}
/* Grids og regler OM MIG*/

.selvpotraet img {
  margin-top: 20px;
}
.col_cv {
  margin-top: 20px;
  margin-left: 10px;
}

/* Grids og regler GRUNDLÆGGENDE WEB */

.billeder_af_site img {
  width: 100%;
  margin-bottom: 50px;
  margin-left: 10px;
}

.mitsite {
  margin-top: 54px;
}

.mitsite2 {
  margin-top: 25px;
}

.col_web {
  margin-left: 20px;
}

/* Grids og regler GRUNDLÆGGENDE INDHOLD */

.grid_indhold_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid_indhold {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid_indhold_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.pilotsite {
  width: 85%;
  margin-top: 5%;
  margin-bottom: 20px;
}

.pilotsite_video {
  width: 85%;
  margin-top: 15px;
  margin-bottom: 30px;
}

.forside_blomster {
  width: 75%;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-left: 15%;
}

.produkt_blomster {
  width: 75%;
  margin-top: 15px;
  padding-left: 15%;
}

.col_indhold {
  margin-top: 5%;
  margin-bottom: 20%;
  padding-left: 15%;
  padding-right: 15%;
}

.col_indhold_2 {
  margin-bottom: 20%;
  padding-right: 15%;
}
/* Grids og regler GRUNDLÆGGENDE UX*/

.billeder_af_site2 img {
  width: 100%;
  margin-bottom: 20px;
  margin-right: 50px;
}

.prototype_2 {
  margin-top: 40px;
}

.pitch_deck {
  margin-top: 50px;
}

.col_ux {
  margin-left: 20px;
  margin-right: 80px;
}

/* Grids og regler ANIMATION */

.col_animation img {
  width: 95%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.billeder_af_site {
  margin-top: 15%;
}

.splash {
  aspect-ratio: 471/586;
  width: 18%;
}

/* Media queries */

@media (min-width: 600px) {
  .grid_om {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .grid_web {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .grid_ux {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }

  .grid_animation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
