img {
  width: 100%;
}
/*Baggrund - Splashbillede */

.splashbillede img {
  background-size: cover;
}
/* Grids og regler OM MIG*/

.selvpotraet img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.selvpotraet {
  background-color: black;
  border-style: solid;
  background-color: black;
}
.col_cv {
  margin-top: 20px;
  margin-left: 10px;
}

/* Grids og regler GRUNDLÆGGENDE WEB */

.billeder_af_webproces img {
  width: 100%;
}

.billeder_af_webproces {
  background-color: black;
}

.mit_styletile_web {
  margin-top: 60px;
  border-style: solid;
  border-color: black;
}

.mit_wireframe_web {
  margin-top: 60px;
  border-style: solid;
  border-color: black;
}

.tekst_web {
  margin-top: 20px;
}

.tekst_web2 {
  margin-top: 70px;
}

.col_web {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Grids og regler GRUNDLÆGGENDE INDHOLD */

.col_indhold {
  margin-top: 5%;
  margin-bottom: 20%;
  padding-left: 15%;
  padding-right: 15%;
}

.col_indhold_2 {
  margin-top: 40px;
  margin-bottom: 20%;
  padding-right: 15%;
}

.redesign {
  background-color: black;
  border-style: solid;
  border-color: black;
}

.redesign img {
  width: 100%;
}

.billede_wireframe_indhold {
  background-color: black;
  border-style: solid;
  border-color: black;
}

.wireframe_pilot {
  margin-top: 62px;
}

.wireframe_indhold {
  margin-top: 62px;
}

/* Grids og regler GRUNDLÆGGENDE UX*/

.billeder_af_site_ux img {
  width: 100%;
}

.billeder_af_site_ux {
  background-color: black;
  border-style: solid;
  border-color: black;
}

.prototype_2 {
  margin-top: 60px;
}

.pitch_deck {
  margin-top: 60px;
}

.skitse_ux {
  margin-top: 40px;
}

.prototype_proces {
  margin-top: 50px;
}

.col_ux {
  margin-left: 40px;
  margin-right: 30px;
}

/* Grids og regler ANIMATION */

.col_animation img {
  width: 100%;
}

/* Media queries */

@media (min-width: 600px) {
  .grid_om {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .grid_web {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .grid_ux {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .grid_animation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .grid_indhold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
